// SPDX-License-Identifier: GPL-2.0+ OR MIT
//
// Copyright (C) 2016-2022 Variscite Ltd.

#include <dt-bindings/input/input.h>
#include "imx7d.dtsi"

/ {
	memory {
		reg = <0x80000000 0x80000000>;
	};

	backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm2 0 5000000>;
		brightness-levels = <0 4 8 16 32 64 128 255>;
		default-brightness-level = <7>;
		status = "disabled";
	};

	pxp_v4l2_out {
		compatible = "fsl,imx7d-pxp-v4l2", "fsl,imx6sx-pxp-v4l2", "fsl,imx6sl-pxp-v4l2";
		status = "okay";
	};

	sound {
		status = "disabled";
	};

	gpio-keys {

		status = "disabled";
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usb_otg1_vbus: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "usb_otg1_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
		};

		reg_usb_otg2_vbus: regulator@1 {
			compatible = "regulator-fixed";
			reg = <1>;
			regulator-name = "usb_otg2_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			enable-active-high;
			regulator-always-on;			
		};

		reg_sd1_vmmc: regulator@3 {
			compatible = "regulator-fixed";
			regulator-name = "VDD_SD1";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio5 2 GPIO_ACTIVE_HIGH>;
			startup-delay-us = <200000>;
			enable-active-high;
		};

		reg_vref_1v8: regulator@5 {
			compatible = "regulator-fixed";
			reg = <5>;
			regulator-name = "vref-1v8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		wlreg_on: fixedregulator@100 {
			compatible = "regulator-fixed";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-name = "wlreg_on";
			gpio = <&gpio1 4 GPIO_ACTIVE_HIGH>;	/* WL_REG_ON: PAD_GPIO1_IO04__GPIO1_IO4*/
			startup-delay-us = <100>;
			enable-active-high;
		};

		reg_touch_3v3: reg_touch_3v3 {
			compatible = "regulator-fixed";
			regulator-name = "touch_3v3_supply";
			regulator-always-on;
			status = "okay";
		};

		reg_hsic_hub_pwr_on: reg_hsic_hub_pwr_on {
			status = "okay";
		};

		reg_hsic_hub_connect: reg_hsic_hub_connect {
			status = "disabled";
		};
	};
};

&adc1 {
	vref-supply = <&reg_vref_1v8>;
	status = "disabled";
};

&adc2 {
	vref-supply = <&reg_vref_1v8>;
	status = "disabled";
};

&cpu0 {
	arm-supply = <&sw1a_reg>;
};

&clks {
	assigned-clocks = <&clks IMX7D_PLL_AUDIO_POST_DIV>;
	assigned-clock-rates = <884736000>;
};

&csi1 {
	csi-mux-mipi = <&gpr 0x14 4>;
	status = "disabled";
};

&epxp {
	status = "disabled";
};

&ecspi1 {
	fsl,spi-num-chipselects = <1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	cs-gpios = <&gpio4 7 0>;
	status = "okay";

	spidev0: spi@0 {
		compatible = "spidev";
		reg = <0>;
		spi-max-frequency = <2000000>;
	};
};

&fec1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet1>;
	phy-supply=<&vgen3_reg>;
	assigned-clocks = <&clks IMX7D_ENET1_TIME_ROOT_SRC>,
			  <&clks IMX7D_ENET1_TIME_ROOT_CLK>;
	assigned-clock-parents = <&clks IMX7D_PLL_ENET_MAIN_100M_CLK>;
	assigned-clock-rates = <0>, <100000000>;
	phy-mode = "rgmii";
	phy-handle = <&ethphy0>;
	fsl,magic-packet;
	status = "okay";

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy0: ethernet-phy@0 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
		};

		ethphy1: ethernet-phy@1 {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <1>;
		};
	};
};

&fec2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet2>;
	phy-supply=<&vgen3_reg>;
	assigned-clocks = <&clks IMX7D_ENET2_TIME_ROOT_SRC>,
			  <&clks IMX7D_ENET2_TIME_ROOT_CLK>;
	assigned-clock-parents = <&clks IMX7D_PLL_ENET_MAIN_100M_CLK>;
	assigned-clock-rates = <0>, <100000000>;
	phy-mode = "rgmii";
	phy-handle = <&ethphy1>;
	phy-reset-gpios = <&gpio4 3 GPIO_ACTIVE_LOW>;
	fsl,magic-packet;
	status = "okay";
};

&mipi_csi {

	status = "disabled";

};

&flexcan2 {

	status = "disabled";
};

&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	pmic: pfuze3000@08 {
		compatible = "fsl,pfuze3000";
		reg = <0x08>;

		regulators {
			sw1a_reg: sw1a {
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			/* use sw1c_reg to align with pfuze100/pfuze200 */
			sw1c_reg: sw1b {
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1475000>;
				regulator-boot-on;
				regulator-always-on;
				regulator-ramp-delay = <6250>;
			};

			sw2_reg: sw2 {
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1850000>;
				regulator-boot-on;
				regulator-always-on;
			};

			sw3a_reg: sw3 {
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1650000>;
				regulator-boot-on;
				regulator-always-on;
			};

			swbst_reg: swbst {
				regulator-min-microvolt = <5000000>;
				regulator-max-microvolt = <5150000>;
			};

			snvs_reg: vsnvs {
				regulator-min-microvolt = <1000000>;
				regulator-max-microvolt = <3000000>;
				regulator-boot-on;
				regulator-always-on;
			};

			vref_reg: vrefddr {
				regulator-boot-on;
				regulator-always-on;
			};

			vgen1_reg: vldo1 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen2_reg: vldo2 {
				status = "disabled";
			};

			vgen3_reg: vccsd {
				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <3300000>;
				regulator-boot-on;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vgen4_reg: v33 {
				regulator-min-microvolt = <2850000>;
				regulator-max-microvolt = <2850000>;
				regulator-always-on;
			};

			vgen5_reg: vldo3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};

			vgen6_reg: vldo4 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;
				regulator-always-on;
			};
		};
	};

 	
	temp@49 {
        compatible = "lm75";
        reg = <0x49>;
        status = "okay";
    };
    
        rtc@6f {
        reg = <0x6f>;
        status = "okay";
    };
 /*  
    rtc@6f {
        compatible = "maxim,ds1338";
        reg = <0x6f>;
        status = "okay";
    };
*/


	/* DS1307 RTC module */
/*	rtc@0x6f {
		compatible = "dallas,ds1307";
		reg = <0x6f>;
	};
*/
};

&i2c2 {
	status = "disabled";

};

&i2c4 {

	status = "disabled";

};

&gpmi {
	status = "disabled";
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_1>;

	imx7d-sdb {
		pinctrl_hog_1: hoggrp-1 {
			fsl,pins = <
				MX7D_PAD_GPIO1_IO14__GPIO1_IO14		0x80000000  /* bt reg on */
				MX7D_PAD_SD2_RESET_B__GPIO5_IO11	0x59  /* ethphy0 reset */
				MX7D_PAD_UART2_TX_DATA__GPIO4_IO3	0x59  /* ethphy1 reset */
				MX7D_PAD_GPIO1_IO10__GPIO1_IO10		0x79  /* Dip 1 - input - MicroPAQ 940P */
				MX7D_PAD_GPIO1_IO11__GPIO1_IO11		0x79  /* Dip 2 - input - MicroPAQ 940P */				
				MX7D_PAD_GPIO1_IO12__GPIO1_IO12		0x79  /* Dip 3 - input - MicroPAQ 940P */	
				MX7D_PAD_GPIO1_IO13__GPIO1_IO13     0x59  /* WDOG  - output - MicroPAQ 940P */	
				MX7D_PAD_LCD_DATA20__GPIO3_IO25		0x59  /* STATUS 1 - input - MicroPAQ 940P */		
				MX7D_PAD_LCD_DATA21__GPIO3_IO26		0x59  /* STATUS 2 - input - MicroPAQ 940P */
				MX7D_PAD_LCD_DATA22__GPIO3_IO27		0x59  /* STATUS 3 - input - MicroPAQ 940P */
				MX7D_PAD_LCD_DATA23__GPIO3_IO28		0x59  /* STATUS 4 - input - MicroPAQ 940P */
				MX7D_PAD_I2C2_SCL__GPIO4_IO10		0x59  /* STATUS 5 - input - MicroPAQ 940P */
				MX7D_PAD_I2C3_SDA__GPIO4_IO13		0x59  /* STATUS 6 - input - MicroPAQ 940P */
				MX7D_PAD_I2C4_SDA__GPIO4_IO15		0x59  /* STATUS 7 - input - MicroPAQ 940P */
				MX7D_PAD_SAI1_RX_BCLK__GPIO6_IO17	0x59  /* STATUS 8 - input - MicroPAQ 940P */
				MX7D_PAD_EPDC_DATA00__GPIO2_IO0     0x59  /* 24V SENSE RELAY - Input - MicroPAQ 940P */
				MX7D_PAD_EPDC_DATA01__GPIO2_IO1     0x59  /* LOCAL/REMOTE - Input - MicroPAQ 940P */
				MX7D_PAD_EPDC_BDR0__GPIO2_IO28      0x59  /* RELAY SENSE1 - Input - MicroPAQ 940P */
				MX7D_PAD_EPDC_BDR1__GPIO2_IO29      0x59  /* RELAY SENSE2 - Input - MicroPAQ 940P */
				MX7D_PAD_EPDC_PWR_COM__GPIO2_IO30   0x59  /* RELAY SENSE3 - Input - MicroPAQ 940P */
				MX7D_PAD_EPDC_PWR_STAT__GPIO2_IO31  0x59  /* RELAY SENSE4 - Input - MicroPAQ 940P */
				MX7D_PAD_EPDC_DATA04__GPIO2_IO4     0x09  /* RELAY1 - Output - MicroPAQ 940P */
				MX7D_PAD_EPDC_DATA05__GPIO2_IO5     0x09  /* RELAY2 - Output - MicroPAQ 940P */
				MX7D_PAD_EPDC_DATA06__GPIO2_IO6     0x09  /* RELAY3 - Output - MicroPAQ 940P */
				MX7D_PAD_EPDC_DATA07__GPIO2_IO7     0x09  /* RELAY4 - Output - MicroPAQ 940P */
				MX7D_PAD_SD1_WP__GPIO5_IO1          0x59  /* RELAY_PWR - Output - MicroPAQ 940P */
				MX7D_PAD_SAI1_RX_SYNC__GPIO6_IO16   0x59  /* COMBO RS485_SEL - Output - MicroPAQ 940P */
				MX7D_PAD_EPDC_DATA03__GPIO2_IO3     0x59
/*				MX7D_PAD_EPDC_DATA11__GPIO2_IO11    0x59 */ /* RS485_CTS - Output - MicroPAQ 940P */  
/*				MX7D_PAD_EPDC_DATA15__GPIO2_IO15    0x59 */ /* COMBO RS485_CTS - Output - MicroPAQ 940P */ 
/*				MX7D_PAD_EPDC_DATA14__GPIO2_IO14    0x59 */ /* COMBO RS485_RTS - Output - MicroPAQ 940P */ 
			>;
		};
/*
		pinctrl_mipi_dsi_reset: mipi_dsi_reset_grp {
			fsl,pins = <
				MX7D_PAD_SAI1_TX_DATA__GPIO6_IO15	0x1b
			>;
		};
*/		

		
		/* ADC added by Jose
		*/
		pinctrl_ecspi1: ecspi1grp {
			fsl,pins = <
				MX7D_PAD_UART3_RTS_B__ECSPI1_SCLK			0x2
				MX7D_PAD_UART3_CTS_B__GPIO4_IO7				0x2
				MX7D_PAD_UART3_RX_DATA__ECSPI1_MISO			0x2
				MX7D_PAD_UART3_TX_DATA__ECSPI1_MOSI			0x2
			>;
		};

		pinctrl_enet1: enet1grp {
			fsl,pins = <
				MX7D_PAD_SD2_CD_B__ENET1_MDIO			0x3
				MX7D_PAD_SD2_WP__ENET1_MDC			0x3
				MX7D_PAD_ENET1_RGMII_TXC__ENET1_RGMII_TXC	0x1
				MX7D_PAD_ENET1_RGMII_TD0__ENET1_RGMII_TD0	0x1
				MX7D_PAD_ENET1_RGMII_TD1__ENET1_RGMII_TD1	0x1
				MX7D_PAD_ENET1_RGMII_TD2__ENET1_RGMII_TD2	0x1
				MX7D_PAD_ENET1_RGMII_TD3__ENET1_RGMII_TD3	0x1
				MX7D_PAD_ENET1_RGMII_TX_CTL__ENET1_RGMII_TX_CTL	0x1
				MX7D_PAD_ENET1_RGMII_RXC__ENET1_RGMII_RXC	0x1
				MX7D_PAD_ENET1_RGMII_RD0__ENET1_RGMII_RD0	0x1
				MX7D_PAD_ENET1_RGMII_RD1__ENET1_RGMII_RD1	0x1
				MX7D_PAD_ENET1_RGMII_RD2__ENET1_RGMII_RD2	0x1
				MX7D_PAD_ENET1_RGMII_RD3__ENET1_RGMII_RD3	0x1
				MX7D_PAD_ENET1_RGMII_RX_CTL__ENET1_RGMII_RX_CTL	0x1
			>;
		};

		pinctrl_enet2: enet2grp {
			fsl,pins = <
				MX7D_PAD_EPDC_GDSP__ENET2_RGMII_TXC		0x1
				MX7D_PAD_EPDC_SDCE2__ENET2_RGMII_TD0		0x1
				MX7D_PAD_EPDC_SDCE3__ENET2_RGMII_TD1		0x1
				MX7D_PAD_EPDC_GDCLK__ENET2_RGMII_TD2		0x1
				MX7D_PAD_EPDC_GDOE__ENET2_RGMII_TD3		0x1
				MX7D_PAD_EPDC_GDRL__ENET2_RGMII_TX_CTL		0x1
				MX7D_PAD_EPDC_SDCE1__ENET2_RGMII_RXC		0x1
				MX7D_PAD_EPDC_SDCLK__ENET2_RGMII_RD0		0x1
				MX7D_PAD_EPDC_SDLE__ENET2_RGMII_RD1		0x1
				MX7D_PAD_EPDC_SDOE__ENET2_RGMII_RD2		0x1
				MX7D_PAD_EPDC_SDSHR__ENET2_RGMII_RD3		0x1
				MX7D_PAD_EPDC_SDCE0__ENET2_RGMII_RX_CTL		0x1
			>;
		};

		pinctrl_i2c1: i2c1grp {
			fsl,pins = <
				MX7D_PAD_I2C1_SDA__I2C1_SDA	0x4000007f
				MX7D_PAD_I2C1_SCL__I2C1_SCL	0x4000007f
				
			>;
		};

		pinctrl_lcdif_dat: lcdifdatgrp {
			fsl,pins = <
				MX7D_PAD_LCD_DATA00__GPIO3_IO5		0x79
				MX7D_PAD_LCD_DATA02__LCD_DATA2		0x79
				MX7D_PAD_LCD_DATA18__LCD_DATA18		0x79
				MX7D_PAD_LCD_DATA19__LCD_DATA19		0x79
			>;
		};

		pinctrl_lcdif_ctrl: lcdifctrlgrp {
			fsl,pins = <
				MX7D_PAD_EPDC_DATA02__LCD_VSYNC		0x79
			>;
		};

		pinctrl_tsc2046_pendown: tsc2046_pendown {
			fsl,pins = <
				MX7D_PAD_GPIO1_IO09__GPIO1_IO9		0x59
			>;
		};

/* MAINT PORT-1 */
		pinctrl_uart1: uart1grp {
			fsl,pins = <
				MX7D_PAD_UART1_TX_DATA__UART1_DCE_TX	0x79
				MX7D_PAD_UART1_RX_DATA__UART1_DCE_RX	0x79
			>;
		};
		
/* EXP Port-4 */
		pinctrl_uart2: uart2grp {
			fsl,pins = <
				MX7D_PAD_LCD_ENABLE__UART2_DCE_TX	0x79
				MX7D_PAD_LCD_CLK__UART2_DCE_RX		0x79
			>;
		};

/* SPARE SERIAL PORT1 - SP-1 */
		
		pinctrl_uart4: uart4grp {
			fsl,pins = <
				MX7D_PAD_I2C2_SDA__UART4_DCE_TX			0x79
				MX7D_PAD_SAI2_TX_SYNC__UART4_DCE_RX		0x79
			>;
		};
		
/* SPARE SERIAL PORT2- SP-2 */
		pinctrl_uart5: uart5grp {
			fsl,pins = <
				MX7D_PAD_I2C4_SCL__UART5_DCE_RX			0x79
			>;
		};

/* RS-485 PORT */		
		pinctrl_uart6: uart6grp {
			fsl,pins = <
				MX7D_PAD_EPDC_DATA09__UART6_DCE_TX		0x79
				MX7D_PAD_EPDC_DATA08__UART6_DCE_RX		0x79
				MX7D_PAD_EPDC_DATA11__UART6_DCE_CTS     0x79 
				MX7D_PAD_EPDC_DATA10__UART6_DCE_RTS     0x79 
			>;
		};	
		
/* COMBO - 485/232 PORT */					
		
		pinctrl_uart7: uart7grp {
			fsl,pins = <
				MX7D_PAD_EPDC_DATA13__UART7_DCE_TX		0x79
				MX7D_PAD_EPDC_DATA12__UART7_DCE_RX		0x79
				MX7D_PAD_EPDC_DATA15__UART7_DCE_CTS		0x79 
				MX7D_PAD_EPDC_DATA14__UART7_DCE_RTS		0x79
				 
			>;
		};	
		
		
		pinctrl_usdhc1_gpio: usdhc1_gpiogrp {
			fsl,pins = <
				MX7D_PAD_SD1_CD_B__GPIO5_IO0		0x59 /* CD */
				MX7D_PAD_SD1_RESET_B__GPIO5_IO2		0x59 /* vmmc */
				MX7D_PAD_GPIO1_IO08__SD1_VSELECT	0x59 /* VSELECT */
			>;
		};

		pinctrl_usdhc1: usdhc1grp {
			fsl,pins = <
				MX7D_PAD_SD1_CMD__SD1_CMD		0x59
				MX7D_PAD_SD1_CLK__SD1_CLK		0x19
				MX7D_PAD_SD1_DATA0__SD1_DATA0		0x59
				MX7D_PAD_SD1_DATA1__SD1_DATA1		0x59
				MX7D_PAD_SD1_DATA2__SD1_DATA2		0x59
				MX7D_PAD_SD1_DATA3__SD1_DATA3		0x59
			>;
		};

		pinctrl_usdhc1_100mhz: usdhc1grp_100mhz {
			fsl,pins = <
				MX7D_PAD_SD1_CMD__SD1_CMD		0x5a
				MX7D_PAD_SD1_CLK__SD1_CLK		0x1a
				MX7D_PAD_SD1_DATA0__SD1_DATA0		0x5a
				MX7D_PAD_SD1_DATA1__SD1_DATA1		0x5a
				MX7D_PAD_SD1_DATA2__SD1_DATA2		0x5a
				MX7D_PAD_SD1_DATA3__SD1_DATA3		0x5a
			>;
		};

		pinctrl_usdhc1_200mhz: usdhc1grp_200mhz {
			fsl,pins = <
				MX7D_PAD_SD1_CMD__SD1_CMD		0x5b
				MX7D_PAD_SD1_CLK__SD1_CLK		0x1b
				MX7D_PAD_SD1_DATA0__SD1_DATA0		0x5b
				MX7D_PAD_SD1_DATA1__SD1_DATA1		0x5b
				MX7D_PAD_SD1_DATA2__SD1_DATA2		0x5b
				MX7D_PAD_SD1_DATA3__SD1_DATA3		0x5b
			>;
		};

		pinctrl_usdhc2_sleep: usdhc2grp_sleep {
			fsl,pins = <
				MX7D_PAD_SD2_CMD__GPIO5_IO13		0x14
				MX7D_PAD_SD2_CLK__GPIO5_IO12		0x14
				MX7D_PAD_SD2_DATA0__GPIO5_IO14		0x14
				MX7D_PAD_SD2_DATA1__GPIO5_IO15		0x14
				MX7D_PAD_SD2_DATA2__GPIO5_IO16		0x14
				MX7D_PAD_SD2_DATA3__GPIO5_IO17		0x14
			>;
		};

		pinctrl_usdhc2: usdhc2grp {
			fsl,pins = <
				MX7D_PAD_SD2_CMD__SD2_CMD	0x59
				MX7D_PAD_SD2_CLK__SD2_CLK	0x19
				MX7D_PAD_SD2_DATA0__SD2_DATA0	0x59
				MX7D_PAD_SD2_DATA1__SD2_DATA1	0x59
				MX7D_PAD_SD2_DATA2__SD2_DATA2	0x59
				MX7D_PAD_SD2_DATA3__SD2_DATA3	0x59
			>;
		};

		pinctrl_usdhc2_100mhz: usdhc2grp_100mhz {
			fsl,pins = <
				MX7D_PAD_SD2_CMD__SD2_CMD	0x5a
				MX7D_PAD_SD2_CLK__SD2_CLK	0x1a
				MX7D_PAD_SD2_DATA0__SD2_DATA0	0x5a
				MX7D_PAD_SD2_DATA1__SD2_DATA1	0x5a
				MX7D_PAD_SD2_DATA2__SD2_DATA2	0x5a
				MX7D_PAD_SD2_DATA3__SD2_DATA3	0x5a
			>;
		};

		pinctrl_usdhc2_200mhz: usdhc2grp_200mhz {
			fsl,pins = <
				MX7D_PAD_SD2_CMD__SD2_CMD	0x5b
				MX7D_PAD_SD2_CLK__SD2_CLK	0x1b
				MX7D_PAD_SD2_DATA0__SD2_DATA0	0x5b
				MX7D_PAD_SD2_DATA1__SD2_DATA1	0x5b
				MX7D_PAD_SD2_DATA2__SD2_DATA2	0x5b
				MX7D_PAD_SD2_DATA3__SD2_DATA3	0x5b
			>;
		};
	};
};

&lcdif {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif_dat
		     &pinctrl_lcdif_ctrl>;
	display = <&display0>;
	status = "disabled";

	display0: display0 {
		bits-per-pixel = <32>;
		bus-width = <24>;

		display-timings {
			native-mode = <&timing0>;
			timing0: timing0 {
				clock-frequency = <29232000>;
				hactive = <800>;
				vactive = <480>;
				hfront-porch = <40>;
				hback-porch = <40>;
				hsync-len = <48>;
				vback-porch = <29>;
				vfront-porch = <13>;
				vsync-len = <3>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};
	};
};

&pcie {
	status = "disabled";
};

&sai1 {
	status = "disabled";
};

&sai2 {

	status = "disabled";
};

&sdma {
	status = "okay";
};

&pwm2 {
	status = "disabled";
};

&iomuxc_lpsr {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog_2 &pinctrl_usbotg2_pwr_2>;

	imx7d-sdb {
		pinctrl_hog_2: hoggrp-2 {
			fsl,pins = <
				MX7D_PAD_GPIO1_IO00__GPIO1_IO0		0x59 /* Heartbeat LED - Output - MicroPAQ 940P  */
				MX7D_PAD_GPIO1_IO02__GPIO1_IO2      0x59 /* RELAY_ON - Output - MicroPAQ 940P */
				MX7D_PAD_GPIO1_IO05__GPIO1_IO5		0x59 /* HMI Power On - Output - MicroPAQ 940P */
			>;
		};
		pinctrl_usbotg2_pwr_2: usbotg2-2 {
			fsl,pins = <
				MX7D_PAD_GPIO1_IO07__GPIO1_IO7		0x14
			>;
		};

		pinctrl_sai1_mclk: sai1grp_mclk {
			fsl,pins = <
				MX7D_PAD_GPIO1_IO01__SAI1_MCLK		0x1f
			>;
		};
/*
		pinctrl_wlan: wlangrp {
			fsl,pins = <
				MX7D_PAD_GPIO1_IO04__GPIO1_IO4		0x59 WL_REG_ON 
				MX7D_PAD_GPIO1_IO03__OSC32K_32K_OUT	0xb0 WIFI Slow clock
			>;
		};

		pinctrl_wlan_sleep: wlangrp_sleep {
			fsl,pins = <
				MX7D_PAD_GPIO1_IO04__GPIO1_IO4		0x14 
				MX7D_PAD_GPIO1_IO03__OSC32K_32K_OUT	0x14 
			>;
		};
*/		
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	assigned-clocks = <&clks IMX7D_UART1_ROOT_SRC>;
	assigned-clock-parents = <&clks IMX7D_OSC_24M_CLK>;
	status = "okay";
};

&uart2 {

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	assigned-clocks = <&clks IMX7D_UART2_ROOT_SRC>;
	assigned-clock-parents = <&clks IMX7D_OSC_24M_CLK>;
	status = "okay";
};

&uart3 {

	status = "disabled";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	assigned-clocks = <&clks IMX7D_UART4_ROOT_SRC>;
	assigned-clock-parents = <&clks IMX7D_OSC_24M_CLK>;
	status = "okay";
};

&uart5 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart5>;
	assigned-clocks = <&clks IMX7D_UART5_ROOT_SRC>;
	assigned-clock-parents = <&clks IMX7D_OSC_24M_CLK>;
	status = "disabled";
};

&uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	assigned-clocks = <&clks IMX7D_UART6_ROOT_SRC>;
	assigned-clock-parents = <&clks IMX7D_OSC_24M_CLK>;
	fsl,uart-has-rtscts;
	status = "okay";
};

&uart7 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart7>;
	assigned-clocks = <&clks IMX7D_UART7_ROOT_SRC>;
	assigned-clock-parents = <&clks IMX7D_OSC_24M_CLK>;
	fsl,uart-has-rtscts;
	status = "okay";
};



&usbh {
	status = "okay";
	vbus-supply = <&reg_hsic_hub_pwr_on>;
};

&usbotg1 {
	vbus-supply = <&reg_usb_otg1_vbus>;
	dr_mode = "host";
	status = "disabled";
};

&usbotg2 {
	vbus-supply = <&reg_usb_otg2_vbus>;
	dr_mode = "host";
	status = "okay";
};

&usdhc1 {
	status = "disabled";
};

&usdhc2 {
	status = "disabled"; 
};

&usdhc3 {

	status = "okay";	

};

&wdog1 {
	status = "disabled";
};

&snvs_rtc {
       status = "disabled";
};

